<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Random Cat!</title>
        <style>
            .type{
                margin-bottom: 80px;
            }
            .step{
                padding-left: 35px;
            }
        </style>
    </head>
    <body>
        <h1>Random Cat!</h1>

        <div class="type">
            <h1>Type A</h1>
            <div class="step">
                <h2>Step 1</h2>
                <ol>
                    <li>goto <b>/cat</b></li>
                    <li>then api will return <b>cat id</b>!</li>
                </ol>

                <h2>Step 2</h2>
                <ol>
                    <li>goto <b>/cat/{cat_id}</b></li>
                    <li>then server will return <b>cat image</b> or <b>json</b></li>
                </ol>
            </div>
        </div>

        <div class="type">
            <h1>Type B</h1>
            <div class="step">
                <h2>Step 1</h2>
                <ol>
                    <li>goto <b>/meow</b></li>
                    <li>then server will return <b>cat image</b> or <b>json</b></li>
                </ol>
            </div>
        </div>
    </body>
</html>